<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/vendor/bootstrap/css/bootstrap.min.css') }}">
</head>

<body>
    로그인에 성공하였습니다.<br>
    <button type="button " onClick="location.href='/logout' " class="btn btn-secondary ">로그 아웃</button>
    <button type="button " onClick="location.href='/revisepasswordpage' " class="btn btn-secondary ">비밀 번호 변경</button>
</body>

</html>